body{
  background-image: url("https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&w=600");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
font-family:sans-serif;
  background-attachment:fixed;
}
.para-container{
background-color: black;
  margin: 0 auto;
  width: 60%;
  opacity: 0.7;

}
p{
  color: white;
  font-weight: bold;
  font-size: 25px;
  line-height: 2;
  padding: 40px 10px;
  margin: 0;
}
.container {
height: 300px;
  width: 100%;
}
h1
{
  font-style: oblique;
background-color: black;
color: white;
width: 230px;
margin: auto;
position: relative;
top: 150px;
font-weight: bold;
}
.footer{
background-color: black;
height: 80px;
opacity: 0.7;
}
a{
position: relative;
top: 30px;
padding: 20px;
font-weight: bold;
}
img{
  width:25%;
  position: relative;
  top: 75px;
}
